@keyframes scaleIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.VPContent {
  animation: scaleIn 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.dark .VPContent {
  animation: scaleIn 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}