@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

.VPContent {
  animation: scaleIn 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.dark .VPContent {
  animation: scaleIn 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
} 