:root {
    /* 按钮颜色 */
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-1);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-3);
  }
  
  /**
   * alt按钮白色
   * -------------------------------------------------------------------------- */
  :root {
    --vp-button-alt-border: transparent;
    --vp-button-alt-bg: color(display-p3 1 1 1);
    --vp-button-alt-hover-border: transparent;
    --vp-button-alt-hover-bg: color(display-p3 0.769 0.769 0.769);
    --vp-button-alt-active-border: transparent;
    --vp-button-alt-active-bg: color(display-p3 0.553 0.553 0.553);
  }
  
  .dark {
    /* 暗色模式下的按钮颜色 */
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-1);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-3);
    
    --vp-button-alt-border: transparent;
    --vp-button-alt-bg: color(display-p3 0.2 0.2 0.2);
    --vp-button-alt-hover-border: transparent;
    --vp-button-alt-hover-bg: color(display-p3 0.267 0.267 0.267);
    --vp-button-alt-active-border: transparent;
    --vp-button-alt-active-bg: color(display-p3 0.333 0.333 0.333);
  }
  .VPButton.brand:hover {
    box-shadow: 0 4px 12px color(display-p3 0.886 0.322 0.322 / 0.3);
  }
  
  .dark .VPButton {
    box-shadow: 0 2px 6px color(display-p3 0 0 0 / 0.3);
  }
  
  .dark .VPButton:hover {
    box-shadow: 0 4px 12px color(display-p3 0 0 0 / 0.4);
  }
  
  .dark .VPButton.brand:hover {
    box-shadow: 0 4px 12px color(display-p3 0.886 0.322 0.322 / 0.4);
  }