:root {
  /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(
      -45deg,
      color(display-p3 0.322 0.812 0.922) 50%,
      var(--vp-c-brand) 50%
  
    );
    --vp-home-hero-image-filter: blur(80px);
  }