/* 搜索弹窗样式 */
:root {
  /* 搜索弹窗的背景色 */
  --vp-local-search-bg: var(--vp-c-bg);
  --vp-local-search-result-bg: var(--vp-c-bg);
  --vp-local-search-result-selected-bg: var(--vp-c-brand-soft);
  --vp-local-search-result-selected-border: var(--vp-c-brand);
  --vp-local-search-highlight-bg: var(--vp-c-brand);
  --vp-local-search-highlight-text: var(--vp-c-bg);
}

.dark {
}

/* 搜索弹窗中的品牌色元素 */
.VPLocalSearchBox .search-bar:focus-within {
  border-color: var(--vp-c-brand);
}

.VPLocalSearchBox .search-actions button:not([disabled]):hover,
.VPLocalSearchBox .toggle-layout-button.detailed-list {
  color: var(--vp-c-brand);
}

.VPLocalSearchBox .title-icon {
  color: var(--vp-c-brand);
}

.VPLocalSearchBox .result.selected .titles,
.VPLocalSearchBox .result.selected .title-icon {
  color: var(--vp-c-brand) !important;
}

/* 搜索结果高亮 */
.VPLocalSearchBox .titles :deep(mark),
.VPLocalSearchBox .excerpt :deep(mark) {
  background-color: var(--vp-c-brand);
  color: var(--vp-c-bg);
}