.VPHero .tagline {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.VPHero .tagline::after {
  content: '_';
  position: absolute;
  right: -19px;
  animation: blink 500ms steps(1) infinite normal;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

:root {
  /* 自定义块颜色 */
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  
  /* 代码颜色 */
  --vp-code-color: var(--vp-c-brand-1);
  --vp-code-link-color: var(--vp-c-brand-1);
  --vp-code-link-hover-color: var(--vp-c-brand-2);
  --vp-code-tab-active-bar-color: var(--vp-c-brand-1);
  
  /* 徽章颜色 */
  --vp-badge-tip-border: transparent;
  --vp-badge-tip-text: var(--vp-c-brand-1);
  --vp-badge-tip-bg: var(--vp-c-brand-soft);
}

.dark {
}

/* 导航栏链接悬浮颜色 */
.VPNavBarMenuLink:hover,
.VPNavBarMenuGroup .text:hover {
  color: var(--vp-c-brand) !important;
}

/* 导航栏激活项 */
.VPNavBarMenuLink.active {
  color: var(--vp-c-brand) !important;
}

/* 导航栏下拉菜单激活项 */
.VPMenu .VPLink.active {
  color: var(--vp-c-brand) !important;
}

/* 社交链接悬浮颜色 */
.VPSocialLink:hover {
  color: var(--vp-c-brand) !important;
}

/* 侧边栏激活项颜色 */
.VPSidebarItem.is-active .link span,
.VPSidebarItem.is-active .text {
  color: var(--vp-c-brand) !important;
}

/* 侧边栏链接悬浮颜色 */
.VPSidebarItem .link:hover span,
.VPSidebarItem .link:hover .text {
  color: var(--vp-c-brand) !important;
}

/* 右侧大纲导航激活项 */
.VPDocOutlineItem.active .link {
  color: var(--vp-c-brand) !important;
}

/* 右侧大纲导航悬浮项 */
.VPDocOutlineItem .link:hover {
  color: var(--vp-c-brand) !important;
}

/* 移动端菜单激活项 */
.VPFlyout .VPMenuLink.active .link {
  color: var(--vp-c-brand) !important;
}

/* 移动端侧边栏切换按钮 */
.VPNavBarHamburger:hover .container {
  background-color: var(--vp-c-brand-light) !important;
}

/* 自定义块引用样式 */
.custom-block.tip {
  border-color: var(--vp-custom-block-tip-border);
  color: var(--vp-custom-block-tip-text);
  background-color: var(--vp-custom-block-tip-bg);
}

/* 代码块复制按钮悬浮颜色 */
.vp-copy-code-button:hover {
  color: var(--vp-c-brand) !important;
}

/* 代码组标签页激活状态 */
.vp-code-group .tabs label.active {
  color: var(--vp-c-brand);
}

/* 搜索框激活样式 */
.DocSearch-Button:hover {
  border-color: var(--vp-c-brand) !important;
}

/* 设置右下角悬浮按钮颜色 */
.float-button {
  background-color: var(--vp-c-brand) !important;
}

.float-button:hover {
  background-color: var(--vp-c-brand-dark) !important;
}

/* 徽章样式 */
.vp-badge.tip {
  border-color: var(--vp-badge-tip-border);
  color: var(--vp-badge-tip-text);
  background-color: var(--vp-badge-tip-bg);
}